@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');



* {
  font-family: Acme;
}

h1 {
  color: rgba(118, 228, 91, 0.795);
  margin-left: 20px;
  width: 200px;
  height: 100px;
  text-align: left;
  font-family: Acme;
  white-space: nowrap;
}

h2 {
  color:rgba(118, 228, 91, 0.795);
  text-align: right;
  font-family: Acme;
}

#points {
  height: auto;
  width: auto;
  margin: 20px;
  position: fixed;
  right: 200px;
  top: 150px;
  border-radius: 15px;
  padding: 10px;
  border-color: rgba(118, 228, 91, 0.795);
  border-style:ridge;
  white-space: nowrap;
}

#controls {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#spin {
  font-size: xx-large;
  height: 50px;
  width: 100px;
  background-color: rgb(0, 255, 106);
}

#first {
  width: 200px;
  height: 300px;
  padding: 10px;
  border: 4px solid rgb(114, 20, 202);
  border-radius: 5%;
  margin: 0px;
  display: inline-block;
  margin-inline-start: 350px; 
  background: rgb(27, 17, 27);
  vertical-align:top; 
}

#second {
  width: 200px;
  height: 300px;
  padding: 10px;
  border: 4px solid rgb(114, 20, 202);
  border-radius: 5%;
  margin: 0px;
  display: inline-block;
  background: rgb(27, 17, 27);
  vertical-align:top; 
}

#third {
  width: 200px;
  height: 300px;
  padding: 10px;
  border: 4px solid rgb(114, 20, 202);
  border-radius: 5%;
  margin: 0px;
  display: inline-block;
  background: rgb(27, 17, 27);
  vertical-align:top; 
}

#msg {
  color: rgb(21, 255, 0);
  text-align: center;
  font-size: xx-large;
}

button {
  width: 70px;
  height: 30px;
  background: crimson;
}

p {
  font-size: 70px;
  text-align: center;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}